{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
    {% if messages%}
        <p></p>
    {% endif %}
    <form class="form-horizontal" action="{% url 'auth:register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'auth:login' %}"> Войти</a>
    </button>
{% endblock %}