{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="hero-white">
        {% include 'includes/header.html' %}
    </div>

    <div class="details">
        <div class="links clearfix">
            <ul class="links-menu">
                    <li>
                        <a href="{% url 'products:products' %}" class="{% if request.path == '/products/' %} active {% endif %}">
                            Все
                        </a>
                    </li>
                {% for link in links_menu %}
                    <li>
                        <a href="{% url 'products:product' link.id %}" class="{% if request.resolver_match.url_name == link.href %} active {% endif %}">
                        {{ link.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src= "/media/{{ related_products.1.image }}">
                </div>
                <div class="slider-control">
                    {% for i in "123" %}
                    <div class="block">
                        <a href="#"><img class="slider-product__img" src="/media/{{ related_products.1.image }}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">{{ related_products.1.name }}</h3>
                <h3 class="red">{{ related_products.1.short_description }}</h3>
                <p class="price"> {{ related_products.1.price }} <span>руб</span></p>
                <a href="#" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>{{ related_products.1.description }}</p>
                </div>
            </div>
        </div>

        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="{% static 'mainapp/img/arrow.png' %}" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for product in related_products %}
                <div class="block">
                    <a href="#">
                        <img class="block__img" src="/media/{{ product.image }}" alt="">
                        <div class="text">
                            <img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }} </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}