{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block content %}
    <div class="hero-white container">
        {% include 'includes/header.html' %}
    </div>

    {% include 'includes/links_menu.html' %}


    <div class="related container">
        <div class="title clearfix">
            {% if category %}
                <h2>Категория {{ category.name }}</h2>
            {% else %}
                <h2>Все продукты</h2>

            {% endif %}
            {#                <a class="explore" href="#">показать все <img src="{% static 'mainapp/img/arrow.png' %}" alt=""></a>#}
        </div>
        <div class="paginator">
            {% if products.has_previous %}
                {% if category %}
                    <a href="{% url 'product'  category.id products.previous_page_number %}">
                        <
                    </a>
                {% else %}
                    <a href="{% url 'products:products'  products.previous_page_number %}">
                        <
                    </a>
                {% endif %}
            {% endif %}
            <span class="current">
            страница {{ products.number }} из
            {{ products.paginator.num_pages }}
          </span>
            {% if products.has_next %}
                {% if category %}
                    <a href="{% url 'product'  category.id products.next_page_number %}">
                        >
                    </a>
                {% else %}
                    <a href="{% url 'products:products'  products.next_page_number %}">
                        >
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <div class="related-products clearfix">
            {% for product in products %}
                <div class="block">
                    <a href="{% url 'products:detail_product' product.id %}">
                        <img class="block__img" src="{{ product.image|media_folder_products }}" alt="">
                        <div class="text">
                            <img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}