{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="hero-white">
        {% include 'includes/header.html' %}
    </div>

    {% include 'includes/links_menu.html' %}


    <div class="related">
        <div class="title clearfix">
            {% if category %}
                <h2>Категория {{ category.name }}</h2>
            {% else %}
                <h2>Все продукты</h2>

            {% endif %}
            {#                <a class="explore" href="#">показать все <img src="{% static 'mainapp/img/arrow.png' %}" alt=""></a>#}
        </div>
        <div class="related-products clearfix">
            {% for product in products %}
                <div class="block">
                    <a href="{% url 'products:detail_product' product.category.id product.id %}">
                        <img class="block__img" src="/media/{{ product.image }}" alt="">
                        <div class="text">
                            <img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}