<div class="clearfix header">
    <a href="/" class="logo"></a>
    <div class="clearfix">
        <ul class="menu">
            <li>
                <a href="{% url 'main' %}" class="{% if request.path == '/' %} active {% endif %}">домой</a>
            </li>
            <li>
                <a href="{% url 'products:products' 1 %}"
                   class="{% if '/products/' in request.path %} active {% endif %}">каталог</a>
            </li>
            <li>
                <a href="{% url 'contacts' %}"
                   class="{% if '/contacts/' in request.path %} active {% endif %}">контакты</a>
            </li>
            {% if user.is_authenticated %}

                <li class="dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list"></i>
                </li>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <li>
                        <a href="{% url 'orders:orders_list' %}"
                           class="{% if '/orders/' in request.path %} active {% endif %} dropdown-item">
                            Заказы </a>
                    </li>
                    <li>
                        <a href="{% url 'basket:basket' %}"
                           class="{% if '/basket/' in request.path %} active {% endif %} dropdown-item">
                            Корзина </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'auth:edit' %}"> {{ user.first_name|default:'Пользователь' }}</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a class="dropdown-item" href="{% url 'admin_staff:users' %}">Админка</a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{% url 'auth:logout' %}"> выйти </a>
                    </li>
                </ul>
            {% else %}
                <li>
                    <a href="{% url 'auth:login' %}"> войти </a>
                </li>
            {% endif %}
            <li>
                <div>
                    <a href="#" class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>


</div>